.light-grey{
    background-color: rgb(58, 84, 109);
}

.dark-grey{
    background-color: rgb(44, 62, 80);
}

header ul{
    list-style: none;
}

header ul li{
    display: inline;
}

#jumbotron{
    text-align: center;
    padding: 2rem;
}

#avatar{
    width: 20%;
}

.linea{
    width: 40%;
    height: .25rem;
    border-radius: 5px;
}

.fa-star{
    font-size: 2rem;
}

.width-max{
    width: 100%;
    border-radius: 1rem;
}

.green{
    background-color: rgb(26, 188, 156);
}

.linea-xl{
    height: 1px;
}

.my-icon{
    border: 1px solid white;
    border-radius: 50%;
    /* padding: 0.5rem;
    font-size: 0.7rem; */
    margin-right: .2rem;
}
/* 
.fa-facebook-f{
    padding: .5rem .7rem;
} */

/* .col-xl-4{
    margin-bottom: 1rem;
}

.col-sm-12{
    margin-bottom: 1rem;
}

.col-md-6{
    margin-bottom: 1rem;
} */

/* .col{
    height: 40px;
    border: .1rem solid white;
} */